# Server Port
PORT=3000

# PostGres
PG_USER=user
PG_PASSWORD=pass
PG_DATABASE="service-budget"
PG_HOST=localhost
PG_PORT=5432
DATABASE_URL="postgresql://${PG_USER}:${PG_PASSWORD}@${PG_HOST}:${PG_PORT}/${PG_DATABASE}"

# Bcrypt and JWT
JWT_SECRET=supersecret
SALT=10

# Resend
RESEND="tokenresend"

#Reset password and Deeplink
RESET_PASSWORD_URL="servicebudget"
APP_SCHEME="myapp"
